        html, body {
    margin:0;
    padding:0;
}

a {
        background-color:transparent;
        border:transparent;
}

@media print {
   body {
         display:none;  
        }
}

#smoll_line {
        width:300px;       
}
                                  
#sus {
        filter:blur(5px);
}

p {
    font-size:20px;
}

p, h2, label, h1 {
    cursor:default;       
}

body {
    text-align:center;
    font-family:"Raleway", sans-serif;
    transition:all 0.25s;
        -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none            }

input, textarea {
        width:200px;
        height:40px;
        font-family:"Raleway", sans-serif;
        outline:none;
        resize:none;
        border:transparent;
        border-bottom:black solid 1px;
}

#send {
        background-color:transparent;
        border:transparent;
        height:30px;
}

#send:hover {
text-decoration:underline;
}
            
#top {
    background-color:#82EEFD;
    width:50px;
    height:50px;
    border:transparent;
    border-radius:10px;
    position:fixed;
    right:10px;
    bottom:10px;
    trasition:all 0.25s;
}
            
            /*
::-webkit-scrollbar {
  width: 10px;
  height:40px;
  cursor:pointer;
}
            
::-webkit-scrollbar-track {
  background:whitesmoke; 
}
            
::-webkit-scrollbar-thumb {
  background: #888; 
  border-radius:50px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
            */
            
#top:hover {
    background-color:skyblue;
}

#top:active {
    transform:scale(0.95)
}

img {
    width:250px;
    height:300px;
    border-radius:5px;
        border:black solid 1px;
}

#hi {
    display:none;
    margin-bottom:15px;
}

nav {
    background-color:whitesmoke;
    height:60px;
    width:100%;
    position:fixed;
    display:block;
    border-image:url(christmas.png) 30 round;
}

#emul {
    font-size:24px;
    margin-left:20px;
    margin-top:13.5px;
    float:left;
}

#s {
    float:right;
}

#share {
    border-radius:10px;
}
            
#hi {
    background-color:transparent;
    border:transparent;
    width:30px;
    height:30px;
    border-radius:10px;
    transition:all 0.25s;
    float:left;
    margin-left:10px;
    font-size:20px;
}
            
a {
    height:25px;
}
            
a:hover {
    border-bottom:black solid 1px;    
}

#hi:hover {
    background-color:gainsboro;
}
            
#hi:hover {
    background-color:lightgray;
}

#share {
    transform:scale(0.0);
    width:300px;
    margin-left:auto;
    margin-right:auto;
        left:5%;
    right:5%;

    top:55px;
    margin-top:15px;
    transition:all 0.5s;
    position:fixed;
    background-color:whitesmoke;
}
            
#bloglink {
    color:green;    
}
            
#bloglink:hover {
    border-bottom:green solid 1px;    
}

a {
    color:black;
    text-decoration:none;
    transition:all 0.25s;
    margin:3px;
    cursor:pointer;
    border-bottom:transparent;
}

video {
    cursor:pointer;
}

#f, #hi {
    background-color:transparent;
    border:transparent;
    float:right;
    transition: all 0.25s;
    width:45px;
    height:45px;
    margin-top:7.5px;
    border-radius:50%;
    margin-right:10px;
}

h1, h2 {
    font-weight:lighter;
}

#f:hover {
    background-color:gainsboro;
}
            
#f:active {
    background-color:lightgray;
}

hr {
    background-color:gainsboro;
    border:gainsboro solid 1px;
    width:95%;
    border-radius:50px;
}

iframe {
    border:transparent;
    border-radius:5px;
}

p {
    width:300px;
    margin-left:auto;
    margin-right:auto;
}

#mid {
        margin-left:-20px;
}

#check {
        width:40px;
        height:40px;
}

button {
    cursor:pointer;
}

button, input {
    outline:none;
    font-family:"Raleway", sans-serif;
    transition:all 0.25s;
}

input[type=checkbox] {
    transform: scale(0.45);
        position:fixed;
        margin-top:-9px;
        margin-left:-40px;
        border:transparent;
}

#hide {
        width:50px;
        height:50px;
        float:right;
        border-radius:50%;
        background-color:transparent;
        border:transparent;
        font-size:24px;
}

#hide:hover {
        background-color:gainsboro;
}

#hide:active {
        background-color:lightgray;
}
