        html, body {
    margin:0;
    padding:0;
}

/* cyrillic-ext */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 200;
  font-display: fallback;
  src: url(https://fonts.gstatic.com/s/raleway/v26/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVtaorCFPrEHJA.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 200;
  font-display: fallback;
  src: url(https://fonts.gstatic.com/s/raleway/v26/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVtaorCMPrEHJA.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* vietnamese */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 200;
  font-display: fallback;
  src: url(https://fonts.gstatic.com/s/raleway/v26/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVtaorCHPrEHJA.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 200;
  font-display: fallback;
  src: url(https://fonts.gstatic.com/s/raleway/v26/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVtaorCGPrEHJA.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 200;
  font-display: fallback;
  src: url(https://fonts.gstatic.com/s/raleway/v26/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVtaorCIPrE.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

#ua {
        display:none;
}

#protected {
        height:30px; 
        width:130px;
}   
       
#DONTDELETEME {
        width:275px;
        margin-left:auto;
        margin-right:auto;
        background-color:whitesmoke;
        border-radius:10px;
}

#hillo {
        transform:scale(0.0);
        display:none;
}

textarea {
        width:200px;
        height:100px;
        background-color:gainsboro;
        border:black solid 1px;
        transition:all 1s;
        border-radius:5px;
        text-indent:5px;
}

textarea:focus {
               background-color:lightgray;
}

input {
        width:200px;
        height:30px;
        background-color:gainsboro;;
        border-radius:5px;
        text-indent:5px;
        margin:2px;
}

input:focus {
               background-color:lightgray;
}

#submit {
        background:skyblue;
        border:skyblue solid 2px;
        border-radius:5px;
        width:204px;
        height:30px;
        margin-top:5px;
}

#passEEE {
        background-color:gainsboro;
        border-radius:10px;
        text-indent:10px;
}

#link {
        width:0px;
        height:0px;
        transform:scale(0.0);
}

#copy, #link {
 cursor:pointer;       
}

a {
        background-color:transparent;
        border:transparent;
}

@media print {
   body {
         display:none;  
        }
}

#smoll_line {
        width:300px;       
}
                                  
#sus {
        filter:blur(5px);
}

p {
    font-size:20px;
}

p, h2, label, h1 {
    cursor:default;       
}

body {
    text-align:center;
    font-family:"Raleway", sans-serif;
    transition:all 0.25s;
        -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none            }

input, textarea {
        width:200px;
        height:40px;
        font-family:"Raleway", sans-serif;
        outline:none;
        resize:none;
        border:transparent;
}

#send {
        background-color:transparent;
        border:transparent;
        height:30px;
}

#send:hover {
text-decoration:underline;
}
            
#top {
    background-color:#82EEFD;
    width:125px;
    height:50px;
    border:transparent;
    border-radius:10px;
    position:fixed;
    right:10px;
    bottom:10px;
    trasition:all 0.25s;
}
            
            /*
::-webkit-scrollbar {
  width: 10px;
  height:40px;
  cursor:pointer;
}
            
::-webkit-scrollbar-track {
  background:whitesmoke; 
}
            
::-webkit-scrollbar-thumb {
  background: #888; 
  border-radius:50px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
            */
            
#top:hover {
    background-color:skyblue;
}

#top:active {
    transform:scale(0.95)
}

img {
    width:275px;
    height:300px;
    border-radius:5px;
        border:black solid 1px;
}

#hi {
    display:none;
    margin-bottom:15px;
}

nav {
    background-color:whitesmoke;
    height:60px;
    width:100%;
    position:fixed;
    display:block;
    border-image:url(christmas.png) 30 round;
}

#elem {
    font-size:24px;
    margin-left:20px;
    margin-top:13.5px;
    float:left;
}

#s {
    float:right;
}

#share {
    border-radius:5px;
}
            
#hi {
    background-color:transparent;
    border:transparent;
    width:30px;
    height:30px;
    border-radius:10px;
    transition:all 0.25s;
    float:left;
    margin-left:10px;
    font-size:20px;
}
            
a {
    height:25px;
}
            
a:hover {
    border-bottom:black solid 1px;    
}

#hi:hover {
    background-color:gainsboro;
}
            
#hi:hover {
    background-color:lightgray;
}

#share {
    transform:scale(0.0);
    width:300px;
    margin-left:auto;
    margin-right:auto;
        left:5%;
    right:5%;

    top:55px;
    margin-top:15px;
    transition:all 0.5s;
    position:fixed;
    background-color:whitesmoke;
}
            
#b1, #b2, #b3, #b4, #b5, #b6 {
    color:green;    
}
            
#bloglink:hover {
    border-bottom:green solid 1px;    
}

a {
    color:black;
    text-decoration:none;
    transition:all 0.25s;
    margin:3px;
    cursor:pointer;
    border-bottom:transparent;
}

video {
    cursor:pointer;
}

#f, #hi {
    background-color:transparent;
    border:transparent;
    float:right;
    transition: all 0.25s;
    width:45px;
    height:45px;
    margin-top:7.5px;
    border-radius:50%;
    margin-right:10px;
}

h1, h2 {
    font-weight:lighter;
}

#f:hover {
    background-color:gainsboro;
}
            
#f:active {
    background-color:lightgray;
}

hr {
    background-color:gainsboro;
    border:gainsboro solid 1px;
    width:95%;
    border-radius:50px;
}

iframe {
    border:transparent;
    border-radius:5px;
}

p {
    width:300px;
    margin-left:auto;
    margin-right:auto;
}

#mid {
        margin-left:-20px;
}

#check {
        width:40px;
        height:40px;
}

button {
    cursor:pointer;
}

button, input {
    outline:none;
    font-family:"Raleway", sans-serif;
    transition:all 0.25s;
}

input[type=checkbox] {
    transform: scale(0.45);
        margin-top:-9px;
        margin-left:-120px;
        border:transparent;
        position:fixed;
}

#hide {
        width:50px;
        height:50px;
        float:right;
        border-radius:5px;
        background-color:transparent;
        border:transparent;
        font-size:24px;
}

#hide:hover {
        background-color:gainsboro;
}

#hide:active {
        background-color:lightgray;
}


